<body>
    <header>
        <p>Дорохов Ростислав Вячеславович ИУ6-33Б Вариант 11</p>
        <p>Дан массив чисел arr_r. Определить сумму нечетных чисел массива и поместить её вместо последнего элемента массива, индекс которого делился на 3 без остатка.</p>
    </header>

    <%= form_tag("/rk2/view", :method => "get") do %>
        <%= label_tag("Введите количество чисел: ") %> <br/>
        <%= number_field_tag 'number' %> <br/>
        <%= label_tag("Введите числа через пробел: ") %> <br/>
        <%= text_field_tag(:values) %> <br/>
        <%= submit_tag("Submit") %> <br/>
    <% end %> 
</body>